<!DOCTYPE html>
<html>
  <head>
    <title>Microservices Overview</title>
    <meta charset="utf-8">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
        text-align: left;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
      .pic {
        vertical-align: middle;
        text-align: center;
        /*padding: 0 0 0 0 !important;*/
      }
      img {
        /*max-width: 40%;*/
        max-height: 500px;
        vertical-align: middle;
        text-align: center;
        /*padding: 0 0 0 0 !important;*/
    
      }      
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle

# Microservices Overview

???
Welcome to the microservices tutorial.

---

# Agenda

1. Introduction
2. Philosophy
3. Nature Example
4. Flight Reservation System
5. 12Factors

---
count: false

# Introduction

## What is a microservice?
A microservice is a small application that performs a single functionality.

## Where it goes?
A microservice should be able to run everywhere.

## How to build them?
You can use any language that provide RESTful APIs.

---
# Phylosophy

## A single microservice must be:

### - Monolithic
### - Resilient
### - Independent

---

# Monolithic

## - A single job fuction
## - A single focus

---

# Resilient

## - Failures will happen
## - High available
## - Recoverable

---

# Independent

## - Upgrade without impact

---

# Nature Examples

## - Human Cells
## - Farm Animals

???
## Human Cells
Human cells are constantly dying and contantly regenerating.  Although we dont upgrade cells (yet) the idea is that you dont stop existing as because of this process.

## Farms
Farm animals unlike pet are raised there is a lot of emotion when the family pet die, but a farm animal when it die tend to be replace by another one and the replaced one is quickly forgotten.  

---
class: center, middle

# Flight Resevation System Example

---
class: pic
# Monolithic Solution

![One Cloud](OneCloud.png)

---
class: pic
# Scale Out Monolithic Solution

![Two Clouds](TwoClouds.png)

---
class: pic
# Microservice Solution

![Microservice Image with two containers in spread across two nodes](Micro1.png)

---
class: pic
# Microservice Solution

![Microservice Image with more containers in spread across three nodes](Micro2.png)

---
class: pic
# Microservice Solution

![Distributed DB across three nodes](db1.png)

---

# Microservice Development

## 12 Factors

- I. Codebase
- II. Dependencies
- III. Config
- IV. Backing services
- V. Build, release, run
- VI. Processes
- VII. Port binding
- VIII. Concurrency
- IX. margin-bottomDisposability
- X. Dev/prod parity
- XI. Logs
- XII. Admin processes

???

I. Codebase

One codebase tracked in revision control, many deploys

II. Dependencies

Explicitly decla![One Cloud](OneCloud.png)re and isolate dependencies

III. Config

Store config in the environment

IV. Backing services

Treat backing services as attached resources

V. Build, release, run

Strictly separate build and run stages

VI. Processes

Execute the app as       .pic {
        vertical-align: middle;
        text-align: center;
        padding: 0 0 0 0 !important;
      }one or more stateless processes

VII. Port binding

Export services via port binding
https://termsfeed.com/
VIII. Concurrency

Scale out via the process model

IX. Disposability

Maximize robustness with fast startup and graceful shutdown

X. Dev/prod parity

Keep development, staging, and production as similar as possible

XI. Logs

Treat logs as event streams

XII. Admin processes

Run admin/management tasks as one-off processes

---

## **I.** Codebase

One codebase tracked in revision control, many deploys

<img src="img/codebase-deploys.png" width="40%" style="border: 0; box-shadow: none;">

---
## **II.** Dependencies

Explicitly declare and isolate dependencies.

<br>

1. Declare **dependencies** in a **manifest**
2. Use **isolation** tools
3. **Specific** versions are important

---

## **II.** Dependencies

**Dependency manifest**
- `Gemfile` in Ruby
- `requirements.txt` in Python

**Isolation tools**
- `bundle exec` in Ruby
- `virtualenv` in Python

**Versions**
- `gem "redis-rails", "~> 3.2.3"` (Gemfile)
- `django-redis==4.4.3` (requirements.txt)


---

## **III.** Config

> Store config in the environment

<br>

- Config is the **specific** information required to host a deployment of your codebase.
- Mainly database **credentials**, **paths**, **resource URLs**, etc.
- Keep your config **outside** the app
- No config in git - Open Source test

---

## **III.** Config

<br>

##### Use **environment variables**

```
production:
  adapter: mysql2
  database: <%= ENV['DB_ENV_MYSQL_DATABASE'] %>
  username: <%= ENV['DB_ENV_MYSQL_USER'] %>
  password: <%= ENV['DB_ENV_MYSQL_PASS'] %>
  port: <%= ENV['DB_PORT'] %>
  host: <%= ENV['DB_HOST'] %>
```

---

## **IV.** Backing services

> Treat backing services as attached resources

<br>

- e.g. datastore, mail service, cache, message broker
- Allows changing of service without code changes
- Makes no distinction between **local** and **third-party** services

---

## **IV.** Backing services

<img src="img/attached-resources.png" width="85%" style="border: 0; box-shadow: none;">

---

## **V.** Build, release, run

> Strictly separate build and run stages

<br>

* `BUILD` = codebase + dependencies + assets
* `RELEASE` = `BUILD` + config
* `RUN` (runtime) = run process against `RELEASE`

---

## **V.** Build, release, run

<img src="img/release.png" width="85%" style="border: 0; box-shadow: none;">

---

## **V.** Build, release, run
<br>

- **Cannot change** at **runtime**
- **Rollback** = just use previous release
- Every release has a unique **release ID**

---

## **VI.** Processes

> Execute the app as one or more stateless processes

<br>

- Processes are **stateless** and **share nothing**
- e.g. **No sticky sessions** to cache user data
- Use a stateful backing service instead, typically a datastore
- Allows **scaling out**

---

## **VII.** Port binding

> Export services via port binding

<br>

- The **contract** with the **execution environment** is binding to a **port** to serve requests.
- Allows **modularization**
- One app can become the **backing service** for another app

---

## **VIII.** Concurrency

> Scale out via the process model

<br>

- Processes can handle **own multiplexing**
- Small defined apps allows scaling as need to handle load

---

## **VIII.** Concurrency

#### Scale out by running multiple processes of different types

<img src="img/process-types.png" width="50%" style="border: 0; box-shadow: none;">

---

## **IX.** Disposability

> Maximize robustness with fast startup and graceful shutdown

<br>

- Processes are **disposable**
- Start **quickly**, shutdown **gracefully**
- Be robust against **sudden death**
- Changes need to take effect quickly

---

## **X.** Dev/prod parity

> Keep development, staging, and production as similar as possible

<br>

- **Shorten the gaps**
- Get developers **involved** in operations
- Continuous deployment requires same environment to **minimize errors**

---

## **XI.** Logs

> Treat logs as event streams

<br>

- Logs are handled **differently** depending on the **environment**
- **Don't** route or store **logs in files**
- Stream to **stdout** instead to be captured by the environment

---

## **XII.** Admin processes

> Run admin/management tasks as one-off processes

<br>

- Database migrations, console, one-time scripts
- e.g. `python manage.py migrate`
- Run as **separate** process
- **Admin code** ships with **app code**

---

# Conclusion

---
# Questions?


    </textarea>
    <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
